<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi User</h3>
    <p>
      You logged in successfully with  <%= @email%> email.
      Your Temprary password for login is: <%= @password %>
    </p>
  </body>
</html>